.guest-container {
    background-color: #1f2c34;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    margin: 50vh auto 0;
    transition: padding 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-50%);
    color: #d1d7db;
}

/* Heading Styles */
.guest-container h1 {
    font-size: 48px;
    color: #25d366; /* WhatsApp green */
    text-align: center;
    margin-bottom: 20px;
}

.guest-container p{
    text-align: center;
}

.guest, .option .username {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

input[type="radio"] {
    width: fit-content;
    margin-right: 10px;
}

input[type="text"] {
    background-color: #2a3942;
    color: #d1d7db;
    border: 1px solid #394d54;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}


input[type="text"]:focus {
    background-color: #3c454a;
    border-color: #25d366;
    color: #d1d7db;
    outline: none;
}

.enter-chat {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.enter-chat:hover {
    background-color: #1ebd56;
}

label {
    cursor: pointer;
    color: #d1d7db;
    font-size: 1.2rem;
    margin-left: 10px;
}

.loading .dots{
    position: relative;
    margin-left: 8px;
}

.loading .dots span {
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    margin-left: 5px;
    background-color: white;
    border-radius: 50%;
    animation: waveBig 1.5s infinite ease-in-out;
    bottom: 5px;
}

.dots span:nth-child(1) { animation-delay: 0s; }
.dots span:nth-child(2) { margin-left: 20px; animation-delay: 0.2s; }
.dots span:nth-child(3) {margin-left: 35px; animation-delay: 0.4s; }

@keyframes waveBig {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
}

@keyframes waveMedium {
    0%, 100% { transform: translateY(0); }
     50% { transform: translateY(-8px); }
}

@keyframes waveSmall {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-3px); }
}


@media screen and (max-width: 768px) {
    .guest-container {
        padding: 20px 15px;
    }

    .guest-container h1 {
        font-size: 36px;
    }

    .loading .dots span{
        width: 5px;
        height: 5px;
        animation: waveMedium 1.5s infinite ease-in-out;
    }

    .dots span:nth-child(2) {
        margin-left: 15px;
    }

    .dots span:nth-child(3) {
        margin-left: 25px;
    }
}


@media screen and (max-width: 480px) {
    .guest-container {
        width: 80%;
        padding: 15px;
        box-sizing: border-box;
        margin-top: 45vh;
    }

    .loading .dots{
        margin-left: 4px;
    }

    .loading .dots span{
        margin-left: 4px;
        width: 2px;
        height: 2px;
        animation: waveSmall 1.5s infinite ease-in-out;
    }

    .guest-container h1 {
        font-size: 28px;
    }

    .guest-container button {
        width: 100%;
    }

    .dots span:nth-child(2) {
        margin-left: 8px;
    }

    .dots span:nth-child(3) {
        margin-left: 12px;
    }
}
